body {
  padding-top: 56px;
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-image: url(../Images/fondo.jpg);
  background-size: cover;


}

a {
  font-size: 20px;
  color: black;
  text-decoration: none;
  margin: 5px;
  padding: 5px;

}

a:hover {
  color: #e6e6e6;
  font-size: 20px;

}

.navbar {
  background: #610b4b;
  color: black;
  height: 70px;
  background-image: url(../Images/fondo3.jpg);
  background-size: unset;
  background-position: bottom;

  
}

section{
  position: relative;
}
.footer {
  background: grey;
  color: #e6e6e6;
}

.columns {
  text-align: center;
  column-rule: black solid 2px;
  columns: 3;
  text-align: center;
}
article {
  background-color: #151515;
  color: white;
}

.formulate {
  background-color: #1c1c1c;
  color: white;
  padding: 5px;
}
/*-----------------Social bar------------------*/


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.social {
  position: fixed;
  left: 0;
  top: 200px;
}
.social ul {
  list-style: none;
}
.social ul li a {
  display: inline-block;
  color: #ffff;
  background: #000;
  padding: 10px;
  text-decoration: none;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
}
.social ul li .icon-facebook2 {
  background: #405de6;
}
.social ul li .icon-twitter {
  background: #00acee;
}
.social ul li .icon-youtube {
  background: #c4302b;
}
.social ul li .icon-instagram {
  background: #833ab4;
}

.social ul li a:hover {
  padding: 10px 30px;
  background: #000;

}
h7{
  font-style: italic;
  font-size: 20px;
}
