.header{
    background-color: #34495E;
    padding-top: 25px;
}
.menu-bar{
    background-color: burlywood;
    margin-top: 20px;

} 


    .menu-bar a{
        color:aqua;
        font-size: 16px;
        font-weight: 500;
    }

    .menu-bar a:hover{
        text-decoration: none;
        color:#ffff;
    }


.menulist{
    padding: 12px 0;
    margin-bottom: 0; 
}

    .menu-list >li:not(:last-child){
        margin-right: 40px;
    }