<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Computer Store </title>

    <!-- Bootstrap  CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!--linkcss-->
    <link rel="stylesheet" href="/CSS/formularios.css">
    <!--iconos de login-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/HTML/nuestros productos.html">Nuestros productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nuestra empresa.html">Nuestra Empresa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/HTML/login.html">Login</a>
                    </li>
                </ul>   
            </div>
        </div>
    </nav>
    <div>
        <nav>
            
        </nav>
    </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3">
                <!--menu bar lado izquierdo-->
                <h1 class="my-4">Computer Store</h1>
                <div class="pos-f-t">
                    <div class="collapse" id="navbarToggleExternalContent">
                        <div class="">
                            <div class="list-group">
                                <a href="/HTML/nuestros productos.html" class="list-group-item">Nuestros productos</a>
                                <a href="/HTML/nuestra empresa.html" class="list-group-item">Nuestra Empresa</a>
                                <a href="/HTML/contacto.html" class="list-group-item">Contactanos</a>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar navbar-dark bg-dark">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </nav>
                </div>

            </div>
            <!-- /.col-lg-3 -->

        </div>
        <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->
    <div>
        <div>
            <nav>
                <div class="modal-dialog text-center">
                    <div class="col-sm-8 main-section">
                        <div class="modal-content">
                            <div class="col-12 user-img">
                                <img src="/Images/sctore.png" th:src="@{/img/user.png}"/>
                            </div>
                            <form class="col-12" th:action="@{/login}" method="get">
                                <div class="form-group" id="user-group">
                                    <input type="text" class="form-control" placeholder="Nombre de usuario" name="username"/>
                                </div>
                                <div class="form-group" id="contrasena-group">
                                    <input type="password" class="form-control" placeholder="Contrasena" name="password"/>
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                            </form>
                            <div class="col-12 forgot">
                                <a href="#">Recordar contrasena?</a>
                            </div>
                            <div th:if="${param.error}" class="alert alert-danger" role="alert">
                                Invalid username and password.
                            </div>  
                            <div th:if="${param.logout}" class="alert alert-success" role="alert">
                                You have been logged out.
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    
    <!-- /.row -->

    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy;Fay y Camilo</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>